* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

:root {
    --main-color: rgb(206, 179, 58);
    --background-color: rgba(186, 189, 157, 0.671);
    --border-color: black;
    --hover-color: white;
}

body {
    padding: 10px;
    box-shadow: 0 0 2rem var(--border-color), 0 0 0.8rem var(--border-color), 0 0 2.8rem var(--border-color), inset 0 0 1.3rem var(--border-color); 
}

p {
    font-size: 20px;
    margin: 0px;
    padding: 10px;
    background-color: var(--background-color);
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 1000;
    top: 0;
    padding: 0 10px 0 20px;
    font-size: 30px;
    background-color: var(--background-color);
    color: var(--border-color);
    border: 10px var(--border-color) solid;
    background-image: url(../images/equalizer-background.png);
    background-size: cover;
    background-position:center;
}

#profile-picture {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 25%;
    border: 10px var(--border-color) solid;
    background: url(../images/jake-profile.png);
    background-position: center;
    background-size: cover;
}

.header h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 90px;
    width: 500px;
    border: 10px black solid;
    background-color: var(--main-color);
}

.header nav {
    display: inline-block;
    position: relative;
    top: 50px;
    left: 20px;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
}

.header nav ul li {
    display: inline-block;
    padding: 30px;
    background-color: var(--main-color);
    border: 5px var(--border-color) solid;
}

.header button {
    display: inline-block;
    position: relative;
    width: 200px;
    font-weight: 700;
    color: var(--border-color);
    background-color: var(--background-color);
}

nav a button:hover {
    color:var(--hover-color);
}

nav a:hover {
    color:var(--hover-color);
}

nav a:active {
    font-size: 94%;
    box-shadow: 0 0 20px var(--border-color) inset;
}

.hero {
    display: flex;
    justify-content: end;
    align-items: end;
    background-image: url(../images/stainedglass.png);
    height: 1000px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-style: solid;
    border-width: 0 10px;
}

.hero h2 {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    font-size: 25px;
    background: var(--main-color);
    color: var(--border-color);
    border: 5px var(--border-color) solid;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    padding: 10px;
    border: 10px black solid;
    background-image: url(../images/equalizer-background.png);
    background-size: cover;
    background-position: center;
    isolation: isolate;
    position: relative;
    gap: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 50px;
}

.card-container:after {
    content: " ";
    position: absolute;
    z-index: -1;
    background: var(--background-color);
    opacity: 70%;
    inset: 0;
    width: 100%;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1 0 100%;
    width: 500px;
    padding: 30px;
    padding-top: 300px;
    margin: 15px;
    border: 30px;
    border-radius: 25%;
    background-size: cover;
    border: 5px var(--border-color) solid;
    box-shadow: 15px 15px 10px rgb(51, 51, 51);
}

#ongoing-project {
    background-image: url(../images/coding-background.png);
    flex: 1 0 100%;
    width: 1000px;
    height: 800px;
    padding: 30px;
    padding-top: 300px;
    margin: 15px;
    position: relative;
    background-size: cover;
    background-position: center;
}

#ongoing-project h3{
    display: flex;
    margin-top: 420px;
    margin-left: 400px;

}

#ongoing-project:hover {
    opacity: 75%;
}

#first-project {
    background-image: url(../images/horiseonhomepage.png);
}

#first-project:hover {
    opacity: 75%;
}

#second-project {
    background-image: url(../images/portfolio-screenshot.png)
    
}

#second-project:hover {
    opacity: 75%;
}

#third-project {
    background-image: url(../images/equalizer-background.png)
    
}

#third-project:hover {
    opacity: 75%;
}

#fourth-project {
    background-image: url(../images/equalizer-background.png)
    
}

#fourth-project:hover {
    opacity: 75%;
}

.card-header {
    color: var(--border-color);
    background-color: var(--main-color);
    font-size: 20px;
    padding: 20px;
    border: 5px var(--border-color) solid;
}

h3:hover {
    color:var(--hover-color);
}

h3 a:hover {
    color: var(--hover-color);
}

#about-me {
    display: inline;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    font-size: 30px;
    background-color: var(--background-color);
    border: 10px var(--border-color) solid;
}

#about-me h2 {
    padding: 20px;
    background-color: var(--main-color);
    border: 5px var(--border-color) solid;
}

#work-header {
    display: inline;
    font-size: 16px;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 30px;
    background-color: var(--background-color);
    border: 10px var(--border-color) solid;
}

#work-header h2 {
    margin: 0;
    padding: 20px;
    background-color: var(--main-color);
    border: 5px var(--border-color) solid;
}

#contact-information {
    padding: 40px;
    margin: 20px;
    font-size: 20px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    background-color: var(--background-color);
    border: 10px black solid;
}

#contact-information h4 {
    align-self: center;
    font-weight: 700;
    font-size: 50px;
    padding: 20px;
    border: 5px var(--border-color) solid;
    background-color: var(--main-color);
}

#contact-information nav ul {
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 10px;
    background-color: var(--main-color);
    border: 5px var(--border-color) solid;
} 

#contact-information nav ul li {
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    padding: 20px;
}
